<app-header></app-header>
<div id="index-container">
    <div id="banner">
        <img src="../../../assets/img/index-img/main-image.jpg" alt="main-image">
    </div>    
    <div id="location-section">
        <h2 class="title_section">Ubica tu O'limpus<span>Gym</span></h2>
        <div id="search-bar-container">
            <div id="search-bar">
                <button>O</button>
                <input type="text" name="search" id="search" placeholder="Ingresa tu ubicacion, Estado, Municipio">
            </div>
        </div>
    </div>
    <div id="products-section">
        <h2 class="title_section">Nuestros Productos</h2>
        <div class="flex-container">
        <div id="container-content">
        <div class="container-button" id="button-left"><</div>
        <div id="carrousel-products">
            <div class="product">
                <img src="../../../assets/img/index-img/proteway.jpg" alt="" width="200px">
                <div class="product-title">
                    <a href="#">Proteina Whey 1kg</a>
                </div>
            </div>
            <div class="product">
                <img src="../../../assets/img/index-img/shaker.jpg" alt="" width="200px">
                <div class="product-title">
                    <a href="#">Shaker Gym 700ml</a>
                </div>
            </div>
            <div class="product">
                <img src="../../../assets/img/index-img/playera.jpg" alt="" width="200px">
                    <div class="product-title">
                        <a href="#">Playera Deportiva Talla s</a>
                    </div>
                </div>
            </div>
        <div class="container-button" id="button-left">></div>
        </div>
    </div>
    </div>
    <div id="membership-section">
        <h2 class="title_section">Nuestros Planes</h2>
        <div class="flex-container">
        <div id="container-memberships">
            <div class="membership-card">
                <h3 id="title-card-membership" class="title-cards">PLAN BASICO</h3>
                <span class="price-membership">
                    199/MES
                </span>
                <div class="learn-more">
                    <button>CONOCE MAS</button>
                </div>
            </div>
            <div class="membership-card">
                <h3 id="title-card-membership" class="title-cards">PLAN PRO</h3>
                <span class="price-membership">
                    299/MES
                </span>
                <div class="learn-more">
                    <button>CONOCE MAS</button>
                </div>
            </div>
            <div class="membership-card">
                <h3 id="title-card-membership" class="title-cards">PLAN PRO MAX</h3>
                <span class="price-membership">
                    399/MES
                </span>
                <div class="learn-more">
                    <button>CONOCE MAS</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div id="rutins-section">
        <h2 class="title_section">Rutinas Olimpus<span>Gym</span></h2>
        <div class="flex-container">
        <div id="option-container">
            <div class="image-section" id="image-section-one">
                <!--<img src="assets/images/index-img/equipo.jpg" alt="" width="200px">-->
                <div class="info-section-container">
                <h3 class="title-img">Variedad de equipo</h3>
                <p class="text-img">
                    te ofrecemos una amplia variedad de equipos de entrenamiento de ultima generacion
                </p>
                </div>
            </div>
            <div class="image-section" id="image-section-two">
                <!--<img src="assets/images/index-img/comunidad.jpg" alt="" width="200px">-->
                <div class="info-section-container">
                <h3 class="title-img">Variedad de equipo</h3>
                <p class="text-img">
                    te ofrecemos una amplia variedad de equipos de entrenamiento de ultima generacion
                </p>
                </div>
            </div>
            <div class="image-section" id="image-section-three">
                <!--<img src="assets/images/index-img/entrenadores.jpg" alt="" width="200px">-->
                <div class="info-section-container">
                <h3 class="title-img">Variedad de equipo</h3>
                <p class="text-img">
                    te ofrecemos una amplia variedad de equipos de entrenamiento de ultima generacion
                </p>
                </div>
            </div>
            <div class="image-section" id="image-section-four">
                <!--<img src="assets/images/index-img/areas.jpg" alt="" width="200px">-->
                <div class="info-section-container">
                <h3 class="title-img">Variedad de equipo</h3>
                <p class="text-img">
                    te ofrecemos una amplia variedad de equipos de entrenamiento de ultima generacion
                </p>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div id="movil-section">
        <div id="movil-banner">
            <img src="../../../assets/img/index-img/banner-movil-app.jpg" alt="">
        </div>
    </div>
</div>
<app-footer></app-footer>

