

.icono-usuario-container {
    display: inline-block;
    font-size: x-large;
    text-align:center;
    top: 20%;
    left: 10px;
  }
  
  .material-icons2 {
    font-size: 100px;  /* Ajusta el tamaño del ícono */
    color: #555;     /* Ajusta el color del ícono */
  }
  
  .body {
    margin: 0 7em;
    position: relative;
    min-height: 100vh;
  padding-bottom: 139px;
  min-height: 100vh;
  margin-bottom: 60px; /* Ajusta este valor según la altura de tu footer */

  }

  /**propiedades body **/

  .nombre {
    display: inline-block;
    text-align: center;
    margin-left: 50px;
    margin-top: 30px;
  
  }
  
  .barra-ejercicios {
    background-color: #DF7E54;
    border-radius: 10px;  /* Esquinas redondeadas */
    padding: 10px 20px;  /* Espaciado interno para darle altura y espacio al texto */
    text-align: center;  /* Alinear texto al centro */
    color: white;  /* Color del texto */
    font-weight: bold;  /* Texto en negrita */
    width: 100%;  /* Ocupar todo el ancho disponible */
    box-sizing: border-box;  /* Asegurar que el padding no aumente el tamaño total */
    margin: 20px 0;  /* Espaciado externo */
  }
  
  .comboOpciones{
  
    background: color #f9A640; 
  }

  .footer{
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 1000;  /* Asegura que esté al frente */

  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.example-container {
    width: 100%;
    height: 100vh;
    border: 1px solid #555;
  }

mat-drawer {
    width: 20%;
}

.list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.list-item {
    width: 80%;
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.list-item:hover {
    border-bottom: 1px solid #ccc;
}

.list-item a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
}

.boton_lateral{
  background: color #f9A640; 
  border-radius: 10px;  



}
.btn-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px; /* Ajusta según tus necesidades */
  height: 50px; /* Ajusta según tus necesidades */
}

.centered-icon {
  margin: 0 auto;
  font-size: x-large;
  text-align:center;
}




