<div class="body">
    <!--SE AGREGA EL HEADER-->
    <div class="header_component">
        <app-header></app-header>
    </div>
    <br/><br/>
    <p style="font-family: Arial; font-size: 46px; margin-right: 20px;float: left;margin-left: 160px;">Plan</p>
    <br/><br/><br/>
    <div class="mi-div-con-borde">
        <br/>
        <div>
            <div class="container">
                <div class="small-column">
                  <p for="nombre" style="font-family: Arial; font-size: 26px;">Titulo:</p>
                </div>
                <div class="large-column">
                    <input id="nombre" style="font-family: Arial; font-size: 24px;" type="text" >
                </div>
                <div class="small-column">
                    <p for="nombre" style="font-family: Arial; font-size: 26px;">Turno:</p>
                </div>
                <div class="large-column">
                    <input id="nombre" style="font-family: Arial; font-size: 24px;" type="text" >
                </div>
              </div>   
        </div>

        <div>
            <div class="container">
                <div class="small-column">
                    <p for="nombre" style="font-family: Arial; font-size: 26px;">Precio:</p>
                </div>
                <div class="large-column">
                    <input id="nombre" style="font-family: Arial; font-size: 24px;" type="text" >
                </div>
                <div class="small-column">
                    <p for="nombre" style="font-family: Arial; font-size: 26px;">Horario:</p>
                </div>
                <div class="large-column" >
                    <mat-form-field style="width: 550px;height: 90px;">
                        <mat-label style="font-family: Arial; font-size: 22px;">Seleccionar</mat-label>
                        <mat-select>
                          <mat-option value="one" style="font-family: Arial; font-size: 22px;">1</mat-option>
                          <mat-option value="two" style="font-family: Arial; font-size: 22px;">2</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
              </div>   
        </div>

        <div>
            <div class="container">
                <div class="small-column">
                    <p for="nombre" style="font-family: Arial; font-size: 26px;">Duración:</p>
                </div>
                <div class="large-column">
                    <mat-form-field style="width: 550px;height: 90px;">
                        <mat-label  style="font-family: Arial; font-size: 22px;">Seleccionar</mat-label>
                        <mat-select>
                          <mat-option value="one"  style="font-family: Arial; font-size: 22px;">1</mat-option>
                          <mat-option value="two"  style="font-family: Arial; font-size: 22px;">2</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="small-column">
                    <p for="nombre" style="font-family: Arial; font-size: 26px;">Detalles:</p>
                </div>
                <div class="large-column">
                    <textarea rows="4" cols="50" class="fixed-width" style="width: 550px;height: 150px; resize: none;font-family: Arial; font-size: 24px;border: 1px solid #ccc;"></textarea>
                </div>
              </div>   
        </div>

        <div>
            <div class="container">
                <div class="small-column">
                    <p for="nombre" style="font-family: Arial; font-size: 26px;">Entrenador:</p>
                </div>
                <div class="large-column">
                    <input id="nombre" style="font-family: Arial; font-size: 24px;" type="text" >
                </div>
                <div class="small-column">
                </div>
                <div class="large-column">
                </div>
              </div>   
        </div>

        <div>
            <div class="container">
                <div class="large-column">
                    <button mat-raised-button style="background-color: #fd9727;font-size: 30px;float: right;margin-right: 142px;height: 60px;">Aceptar</button>
                </div>
                <div class="large-column">
                    <button mat-raised-button style="background-color: #fd9727;font-size: 30px; margin-right:  8500px;float: right;margin-right: 500px;height: 60px;">Cancelar</button>
                </div>
              </div>   
        </div>
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <!--SE AGREGA EL FOOTER-->
    <div class="flex-container">
        <div class="footer_component">
            <app-footer></app-footer>
        </div>
    </div>
</div>