<div class="body">
    <!--SE AGREGA EL HEADER-->
    <div class="header_component">
        <app-header></app-header>
    </div>

    <!--CONTENIDO PANTALLA ALTA DE UDUARIO-->
    <div class="content_body">
        <div class="content_margin">
            <div class="title_page">
                <h1>Alta de colaborador</h1>
            </div>
            <div class="form_data">
                <form>
                    <p>
                        <mat-form-field appearance="outline" class="inputs_properties">
                           <mat-label>Nombre</mat-label>
                             <input type="text" matInput placeholder="Nombre" autocomplete="off">
                            </mat-form-field>
                    
                        <mat-form-field appearance="outline" class="inputs_properties">
                            <mat-label>Apellido paterno</mat-label>
                            <input type="text" matInput placeholder="Apellido materno" autocomplete="off">
                        </mat-form-field>
                    
                        <mat-form-field appearance="outline" class="inputs_properties">
                            <mat-label>Apellido materno</mat-label>
                            <input type="text" placeholder="Apellido materno" matInput autocomplete="off">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline" class="inputs_properties">
                            <mat-label>Correo</mat-label>
                            <input type="text" placeholder="Correo" matInput autocomplete="off">
                          </mat-form-field>
                    
                        <mat-form-field appearance="outline" class="inputs_properties">
                            <mat-label>Telefono</mat-label>
                            <input type="text" placeholder="Telefono" maxlength="10" minlength="8" matInput autocomplete="off">
                          </mat-form-field>
                    
                        <mat-form-field appearance="outline" class="inputs_properties">
                            <mat-label>Fecha de nacimiento</mat-label>
                            <input type="date" matInput autocomplete="off">
                          </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline" class="inputs_properties">
                            <mat-label>Genero</mat-label>
                            <mat-select id="genero" >
                              <mat-option></mat-option>
                              <mat-option value="f">Femenino</mat-option>
                              <mat-option value="m">Masculino</mat-option>
                            </mat-select>
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="inputs_properties">
                            <mat-label>Codigo postal</mat-label>
                            <input type="text" placeholder="Código postal" matInput autocomplete="off">
                          </mat-form-field>
                    
                          <mat-form-field appearance="outline" class="inputs_properties">
                            <mat-label>Estado</mat-label>
                            <mat-select id="estado" >
                              <mat-option></mat-option>
                              <mat-option value="1">Puebla</mat-option>
                              <mat-option value="2">Sonora</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline" class="inputs_properties">
                            <mat-label>Ciudad</mat-label>
                            <mat-select id="ciudad">
                              <mat-option></mat-option>
                              <mat-option value="1">... 1</mat-option>
                              <mat-option value="2">... 2</mat-option>
                            </mat-select>
                        </mat-form-field>
        
                        <mat-form-field appearance="outline" class="inputs_properties">
                            <mat-label>Delegación</mat-label>
                            <mat-select id="delegacion">
                              <mat-option></mat-option>
                              <mat-option value="1">... 1</mat-option>
                              <mat-option value="2">... 2</mat-option>
                            </mat-select>
                        </mat-form-field>
                          
                        <mat-form-field appearance="outline" class="inputs_properties">
                            <mat-label>Colonia</mat-label>
                            <mat-select id="colonia">
                              <mat-option></mat-option>
                              <mat-option value="1">... 1</mat-option>
                              <mat-option value="2">... 2</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline" class="inputs_properties">
                            <mat-label>Asignar contraseña</mat-label>
                            <input matInput  matInput [type]="hide ? 'password' : 'text'" placeholder="Asignar contraseña" formControlName="password">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                          </mat-form-field>

                        <mat-form-field appearance="outline" class="inputs_properties">
                            <mat-label>Nivel de estudios</mat-label>
                            <mat-select id="estudios">
                              <mat-option></mat-option>
                              <mat-option value="1">... 1</mat-option>
                              <mat-option value="1">... 2</mat-option>
                            </mat-select>
                        </mat-form-field>

                       <mat-form-field appearance="outline" class="inputs_properties">
                            <mat-label>Sucursal</mat-label>
                            <mat-select id="sucursal">
                              <mat-option></mat-option>
                              <mat-option value="1">... 1</mat-option>
                              <mat-option value="1">... 2</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline" class="inputs_properties">
                            <mat-label>Área</mat-label>
                            <mat-select id="area">
                              <mat-option></mat-option>
                              <mat-option value="1">... 1</mat-option>
                              <mat-option value="1">... 2</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="inputs_properties">
                            <mat-label>Nombre de contacto</mat-label>
                            <input type="text" placeholder="Nombre de contacto" matInput autocomplete="off">
                          </mat-form-field>

                        <mat-form-field appearance="outline" class="inputs_properties">
                            <mat-label>Telefono de contacto</mat-label>
                            <input type="text" placeholder="Telefono contacto" maxlength="10" minlength="8" matInput autocomplete="off">
                          </mat-form-field>
                    </p>

                    
                    <button mat-raised-button id="btn_canelar" color="warn">Cancelar</button>
                    <button type="submit" id="btn_guardar" mat-raised-button>Guardar registro</button>
                </form>
            </div>
        </div>
    </div>

    <!--SE AGREGA EL FOOTER-->
    <div class="footer_component">
        <app-footer></app-footer>
    </div>
</div>
