<div class="body">
    <!--SE AGREGA EL HEADER-->
    <div class="header_component">
        <app-header></app-header>
      </div>

      <div class="content_page">
        <div class="margin_page">

            <div class="title_page">
                <h3>Entonces, ¿En dónde quieres entrenar?</h3>
            </div><!--cierra div title page -->

            <div class="content_searchbar">
                <mat-form-field appearance="outline" class="inputs_css">
                    <input type="text" matInput placeholder="Ingresa lo que quieres buscar" autocomplete="off" autofocus="" >
                    <mat-icon matSuffix>place</mat-icon>
                </mat-form-field>
            </div><!--cierra div content search bar-->

            <div class="grid_padre">
                <div class="h1_filters">
                    <!--CONTENIDO - OPCIONES DE FILTRO-->
                    <div id="filters_container">
                        <div id="first-section-filters" class="filters">
                            <h3>Añade filtros</h3>
                            <p class="txt_filters">Estructura</p>
                            <mat-checkbox class="item-checkbox">Casilleros</mat-checkbox>
                            <mat-checkbox class="item-checkbox">Estacionamiento</mat-checkbox>
                            <mat-checkbox class="item-checkbox">Bicicletero</mat-checkbox>
                            <mat-checkbox class="item-checkbox">Aire acondicionado</mat-checkbox>
                            <mat-checkbox class="item-checkbox">Elevador</mat-checkbox>
                            <mat-checkbox class="item-checkbox">Energy</mat-checkbox>
                            <mat-checkbox class="item-checkbox">Nutri</mat-checkbox>
                        </div>
                        <div id="second-section-filters" class="filters">
                            <p class="txt_filters">Clases</p>
                            <mat-checkbox class="item-checkbox">Zumba</mat-checkbox>
                            <mat-checkbox class="item-checkbox">Spining</mat-checkbox>
                            <mat-checkbox class="item-checkbox">Yoga</mat-checkbox>
                            <mat-checkbox class="item-checkbox">Taitiano</mat-checkbox>
                        </div>
                    </div><!--cierra div filters container-->

                    <div class="content_img_left"></div><!--cierra div content_img_left-->
                </div><!--cierra div h1 filters-->

                <div class="h2_items">
                    <div class="content_items">

                        <div class="item_x">
                            <div class="content_img_item">
                                <img src="../../../assets/img/sucs-img/suc1.jpeg" alt="img_sucursal" class="img_item">
                            </div><!--cierra div content img item-->
                            <div class="content_title_item">
                                <h3 class="txt_title">Plaza Zavaleta</h3>
                            </div><!--cierra div content title item-->
                            <div class="content_addr_item">
                                <p class="txt_addr">Calz. Zavaleta No. 50 Santa Cruz Buenavista. Puebla - PUE.</p>
                            </div><!--cierra div content addr item-->
                            <div class="content_link_item">
                                <a href="#">Ver academia</a>
                            </div><!--cierra div content link item-->
                            <div class="content_pack_item">
                                <p class="txt_palnes">Inscripcion gratis + primer mes $49 en los 3 planes.</p>
                            </div>
                            <div class="grid_plan_item">
                                <div class="h1_plan_item">
                                    <label class="txt_plan_name">Smart</label>
                                    <label class="txt_old_price">$ 359.00</label>
                                    <label class="txt_new_price">$ 49.00</label>
                                </div><!--cierra div h1 plan item-->
                                <div class="h2_plan_item">
                                    <label class="txt_plan_name">Black</label>
                                    <label class="txt_old_price">$ 459.00</label>
                                    <label class="txt_new_price">$ 49.00</label>
                                </div><!--cierra div h2 plan item-->
                                <div class="h3_plan_item">
                                    <label class="txt_plan_name">Fit</label>
                                    <label class="txt_old_price">$ 299.00</label>
                                    <label class="txt_new_price">$ 49.00</label>
                                </div><!--cierra div h3 plan item-->
                            </div><!--cierra div grid plan item-->
                            <div class="content_btn_buy">
                                <button type="submit" class="btn_int" mat-raised-button style="background: #FD9727; color: white;">
                                    ¡Inscribete ya!</button>
                            </div><!--cierre de div content btn buy-->
                        </div><!--cierra item x-->

                        <div class="item_x">
                            <div class="content_img_item">
                                <img src="../../../assets/img/sucs-img/suc1.jpeg" alt="img_sucursal" class="img_item">
                            </div><!--cierra div content img item-->
                            <div class="content_title_item">
                                <h3 class="txt_title">Plaza Zavaleta</h3>
                            </div><!--cierra div content title item-->
                            <div class="content_addr_item">
                                <p class="txt_addr">Calz. Zavaleta No. 50 Santa Cruz Buenavista. Puebla - PUE.</p>
                            </div><!--cierra div content addr item-->
                            <div class="content_link_item">
                                <a href="#">Ver academia</a>
                            </div><!--cierra div content link item-->
                            <div class="content_pack_item">
                                <p class="txt_palnes">Inscripcion gratis + primer mes $49 en los 3 planes.</p>
                            </div>
                            <div class="grid_plan_item">
                                <div class="h1_plan_item">
                                    <label class="txt_plan_name">Smart</label>
                                    <label class="txt_old_price">$ 359.00</label>
                                    <label class="txt_new_price">$ 49.00</label>
                                </div><!--cierra div h1 plan item-->
                                <div class="h2_plan_item">
                                    <label class="txt_plan_name">Black</label>
                                    <label class="txt_old_price">$ 459.00</label>
                                    <label class="txt_new_price">$ 49.00</label>
                                </div><!--cierra div h2 plan item-->
                                <div class="h3_plan_item">
                                    <label class="txt_plan_name">Fit</label>
                                    <label class="txt_old_price">$ 299.00</label>
                                    <label class="txt_new_price">$ 49.00</label>
                                </div><!--cierra div h3 plan item-->
                            </div><!--cierra div grid plan item-->
                            <div class="content_btn_buy">
                                <button type="submit" class="btn_int" mat-raised-button style="background: #FD9727; color: white;">
                                    ¡Inscribete ya!</button>
                            </div><!--cierre de div content btn buy-->
                        </div><!--cierra item x-->

                        <div class="item_x">
                            <div class="content_img_item">
                                <img src="../../../assets/img/sucs-img/suc1.jpeg" alt="img_sucursal" class="img_item">
                            </div><!--cierra div content img item-->
                            <div class="content_title_item">
                                <h3 class="txt_title">Plaza Zavaleta</h3>
                            </div><!--cierra div content title item-->
                            <div class="content_addr_item">
                                <p class="txt_addr">Calz. Zavaleta No. 50 Santa Cruz Buenavista. Puebla - PUE.</p>
                            </div><!--cierra div content addr item-->
                            <div class="content_link_item">
                                <a href="#">Ver academia</a>
                            </div><!--cierra div content link item-->
                            <div class="content_pack_item">
                                <p class="txt_palnes">Inscripcion gratis + primer mes $49 en los 3 planes.</p>
                            </div>
                            <div class="grid_plan_item">
                                <div class="h1_plan_item">
                                    <label class="txt_plan_name">Smart</label>
                                    <label class="txt_old_price">$ 359.00</label>
                                    <label class="txt_new_price">$ 49.00</label>
                                </div><!--cierra div h1 plan item-->
                                <div class="h2_plan_item">
                                    <label class="txt_plan_name">Black</label>
                                    <label class="txt_old_price">$ 459.00</label>
                                    <label class="txt_new_price">$ 49.00</label>
                                </div><!--cierra div h2 plan item-->
                                <div class="h3_plan_item">
                                    <label class="txt_plan_name">Fit</label>
                                    <label class="txt_old_price">$ 299.00</label>
                                    <label class="txt_new_price">$ 49.00</label>
                                </div><!--cierra div h3 plan item-->
                            </div><!--cierra div grid plan item-->
                            <div class="content_btn_buy">
                                <button type="submit" class="btn_int" mat-raised-button style="background: #FD9727; color: white;">
                                    ¡Inscribete ya!</button>
                            </div><!--cierre de div content btn buy-->
                        </div><!--cierra item x-->

                    </div><!--cierra content items-->
                </div><!--cierra div h2 items-->
            </div><!--cierre div grid padre-->
        </div><!--cierra div margin page-->
      </div><!--cierra div content page-->


    <!--SE AGREGA EL FOOTER-->
    <div class="footer_component">
        <app-footer></app-footer>
      </div>
</div><!--cierra contenedor body-->