<app-header></app-header>
<main class="main-container">
    <div class="flex-container">
        <div class="first-section">
            <div class="main-info">
                <h1 class="main-title">Bienvenido a virtual Olimpus<span>Gym</span></h1>
                <p>
                    Bienvenidos a nuestro exclusivo mundo de fitness en casa. En OlimpusGym, comprendemos que la vida puede ser agitada y que no siempre es fácil encontrar tiempo para visitar un gimnasio. Es por eso que hemos creado nuestra suscripción especial: un acceso privilegiado a una amplia gama de recursos de fitness diseñados para llevar el gimnasio directamente a tu hogar.
                </p>
                <button mat-raised-button>Suscribete ahora</button>
            </div>
            <div class="container-image">
                <img src="assets/img/planvirtualimg/virtualgym-mainimage.jpg" alt="">
            </div>
        </div>
        <div class="second-section">
            <h2>Plan Virtual</h2>
            <div class="plan-info">
                <div class="characteristics">
                    <table>
                        <tr>
                            <th>
                                <img src="assets/img/index-img/logo.jpeg" alt="">
                            </th>
                            <th>Virtual OlimpusGym
                                <span>$99</span>
                            </th>
                        </tr>
                        <tr>
                            <td>Videos</td>
                            <td><button class="checked"><mat-icon>check</mat-icon></button></td>
                        </tr>
                        <tr>
                            <td>Dietas</td>
                            <td><button class="checked"><mat-icon>check</mat-icon></button></td>
                        </tr>
                        <tr>
                            <td>Entrenadores virtuales</td>
                            <td><button class="checked"><mat-icon>check</mat-icon></button></td>
                        </tr>
                        <tr>
                            <td>Descuentos</td>
                            <td><button class="checked"><mat-icon>check</mat-icon></button></td>
                        </tr>
                    </table>
                </div>
                <p>Nuestra suscripción especial te brinda acceso a una biblioteca de videos de entrenamiento, rutinas de ejercicios personalizadas y consejos de expertos, todo ello diseñado para ayudarte a mantenerte en forma y saludable, sin importar tu horario. Ya sea que estés buscando perder peso, ganar fuerza o simplemente mantenerte activo, nuestro programa de fitness en casa te proporcionará las herramientas y el apoyo que necesitas.</p>
                <div class="note">
                    <P><strong>Nota Importante: </strong>Esta suscripción está diseñada exclusivamente para el ejercicio en casa. No incluye acceso a nuestras instalaciones de gimnasio, áreas como albercas, canchas u otros servicios físicos en nuestro gimnasio principal. Estamos comprometidos en brindarte una experiencia de fitness de alta calidad, y esta suscripción especial está especialmente diseñada para quienes prefieren entrenar en la comodidad de su hogar. Si estás interesado en acceder a nuestras instalaciones físicas, te invitamos a consultar nuestras opciones de membresía estándar para obtener más detalles.</P>
                </div>
            </div>
        </div>
        <div class="third-section">

        </div>
    </div>
    <app-footer></app-footer>
</main>