
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <ul class="list-container">
            <li class="list-item"><mat-icon>account_circle</mat-icon><a href="#">Perfil</a></li>
            <li class="list-item"><mat-icon>settings</mat-icon><a href="#">Editar Perfil</a></li>
            <li class="list-item"><mat-icon>account_balance_wallet</mat-icon><a href="#">Cartera</a></li>
            <li class="list-item"><mat-icon>accessibility</mat-icon><a href="#">Acceso</a></li>
        </ul>
    </mat-drawer>
    <mat-drawer-content class="section-main">
        <div id="container-wallet">
            <h1 class="title-wallet">Tu tarjeta</h1>
            <div id="add-card-section">
                    <div class="card-info">
                        <span class="numbercard">4000 1234 5678 9010</span>
                        <span class="vencimiento">08/22</span>
                        <span class="nameclient">Gustavo Guzman</span>
                    </div>
                    <div class="buttons">
                        <a href="#">Eliminar</a>
                        <a href="#">Modificar</a>
                    </div>
                </div>
        </div>
    </mat-drawer-content>
  </mat-drawer-container>
  
