/*footerc{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1em 0;
    margin-top: auto; 
}
*/
body *, html * {
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
}
.footerc{
    bottom: 0;
    width: 100%;
    padding-bottom: 139px;
}

.body-membresia {
    margin-top: 100px;
    position: relative;
}

h1 { 
    margin-bottom: 50px;
}

div{
    display: block;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
ul {
    list-style: none;
    padding-left: 0px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.membresia-w {
    display: table;
    border-spacing: 22px;
    max-width: 790px;
    margin: 0 auto;
    padding: 75px 0;
    width: 80%;
}
.membresia-box {
    text-align: justify;
    text-justify: distribute;
    font-size: 0;
}

/*.membresias-caja {
    display: flex; 
    justify-content: center;
    margin-right: 100px;
}*/

.membresias-caja {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

.membresia--inverse {
    background: #1f2123;    
}

.membresia {
    width: 342px;
    height: 380px;
    margin: 15px;
    text-align: center;
    border-radius: 15px;
    padding-bottom: 50px;
    position: relative;  
    display: table-cell;
    vertical-align: top;
    padding: 0 0 10px;
    margin-bottom: 80px;   
}

.membresia_info {
    padding: 0 40px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.membresia .membresia_info .membresia-titulo {
    font-size: 25px;
}
.membresia-titulo {
    font: 700 20px Roboto,helvetica,arial,sans-serif;
    color: #000;
    text-align: center;
    text-transform: uppercase;
}
.membresia--inverse .membresia_list_item, .membresia--inverse .membresia_list_titulo, .membresia--inverse .membresia_list_trigger, .membresia--inverse .membresia_list_trigger_icon, .membresia--inverse .membresia-precio, .membresia--inverse .membresia-texto, .membresia--inverse .membresia-titulo {
    color: #fff;  
}

.membresia-discla {
    position: absolute;
    bottom: -50px; /* Ajusta este valor para mover más hacia abajo */
    left: 50%;
    transform: translateX(-50%);
}

.membresia_button {
    width: 210px;
}
.membresia--buy, .membresia--leaked {
    background-color: #fff;
    border: 1px solid #dcd0e0;
    color: #000;
}

.Button {
    vertical-align: middle;
    padding: 26px;
    border: none;
    border-radius: 2px;
    background-color: #d27300;
    font: 700 14px Roboto,helvetica,arial,sans-serif;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    transition: background .5s ease;
    border-radius: 15px;
    
}
.membresia-titulo .precio{
    font-size: 20px;
}



















.services {
    background-color: lightblue;
    display: flex;
    padding-block: 50px;
    background-color: #f4f4f4;
}

.form_plan_service {
    width: 50%;
    /*background-color: lightcoral;*/
    display: flex;
    justify-content: center;
}

.form_plan_service form {
   background-color: #ffffff;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    padding-block: 100px;
    border-radius: 20px;
}

form mat-form-field {
    width: 90%;
}

.detail_services {
    /*background-color: lightpink;*/
    width: 50%;
    display: flex;
    flex-direction: column;
}

.detail_services h2 {
    text-align: center;
}

.services li {
    font-weight: 700;
}

.services li p {
    font-weight: 100;
}

.personalize_plan {
    /*background-color: pink;*/
    margin-top: 100px;
    margin-bottom: 100px;
}

.personalize_plan_title {
    text-align: center;
}

.detail_personalize_plan {
    text-align: center;
}

.button {
    margin-inline: 10px;
    background-color: #F9A640;
    padding-inline: 25px;
}

.inputformservice {
   /* background-color: red;*/
    margin-bottom: 10px;
    background-color: #fff;
}

.inputformservice input {
    background-color: white;
}
