<app-header></app-header>

<div class="body-membresia">

    <h1 style="text-align: center;">Membresias</h1>
   
   <section class="membresias-w" ><!--plans-wrapper-->
    <div class="membresias-caja" bis_skin_checked="1"style="background-color:#ffff"  >
       
        <div class="membresia js-membresia membresia--inverse" bis_skin_checked="1"  style="padding-top: 60px; padding-bottom: 60px;border-left-width: 10px;  ">
            <div class="membresia-info" bis_skin_checked="1">
                <h3 class="membresia-titulo precio">$799</h3>
                <p class="membresia-texto"> Membresia Premium</p>
                <ul class="membresia-texto" style="padding-left: 0;"> 
                    <li class="membresia-texto-item">Incluye 12 meses de membresia</li>
                    <li class="membresia-texto-item">Incluye inscripcion</li>
                    <li class="membresia-texto-item">Incluye acceso a todo el centro deportivo</li>
                    <ul>
                        <div class="membresia-discla" bis_skin_checked="1"></div>
                        <a class="Button Button--leaked membresia-button" bis_skin_checked="1"> Seleccionar Membresia</a>
                    </ul>
                </ul>
            </div>
        </div>
 
        <div class="membresia js-membresia membresia--inverse" bis_skin_checked="1" style="padding-top: 60px; padding-bottom: 60px; border-left-width: 20px;">
            <div class="membresia-info" bis_skin_checked="1">
                <h3 class="membresia-titulo">$599</h3>
                <p class="membresia-texto"> Membresía Avanzada</p>
                <ul class="membresia-texto" style="padding-left: 0;"> 
                    <li class="membresia-texto-item">Incluye 6 meses de membresia</li>
                    <li class="membresia-texto-item">No Incluye inscripcion</li>
                    <li class="membresia-texto-item">Incluye acceso a todo el centro deportivo</li>
                    <ul>
                        <div class="membresia-discla" bis_skin_checked="1"></div>
                        <a class="Button Button--leaked membresia-button" bis_skin_checked="1"> Seleccionar Membresia</a>
                    </ul>
                </ul>
            </div>
        </div>
        
        <div class="membresia js-membresia membresia--inverse" bis_skin_checked="1"  style="padding-top: 60px; padding-bottom: 60px; border-left-width: 20px;">
            <div class="membresia-info" bis_skin_checked="1">
                <h3 class="membresia-titulo">$320</h3>
                <p class="membresia-texto"> Membresía Avanzada</p>
                <ul class="membresia-texto" style="padding-left: 0;"> 
                    <li class="membresia-texto-item">Incluye 3 meses de membresia</li>
                    <li class="membresia-texto-item">No Incluye inscripcion</li>
                    <li class="membresia-texto-item">Incluye acceso a todo el centro deportivo</li>
                    <ul>
                        <div class="membresia-discla" bis_skin_checked="1"></div>
                        <a class="Button Button--leaked membresia-button" bis_skin_checked="1" href="https://meet.google.com/"> Seleccionar Membresia</a>
                    </ul>
                </ul>
            </div>
        </div>

        <div class="membresia js-membresia membresia--inverse" bis_skin_checked="1"  style="padding-top: 60px; padding-bottom: 60px; border-left-width: 20px; border-right-width: 10px;">
            <div class="membresia-info" bis_skin_checked="1">
                <h3 class="membresia-titulo">$220</h3>
                <p class="membresia-texto" uppercase> Membresía Avanzada</p>
                <ul class="membresia-texto" style="padding-left: 0;"> 
                    <li class="membresia-texto-item">Incluye 1 meses de membresia</li>
                    <li class="membresia-texto-item">No Incluye inscripcion</li>
                    <li class="membresia-texto-item">Incluye solo al gimnasio</li>
                    <ul>
                        <div class="membresia-discla" bis_skin_checked="1"></div>
                        <a class="Button Button--leaked membresia-button" bis_skin_checked="1"> Seleccionar Membresia</a>
                    </ul>
                </ul>
            </div>
        </div>
        
    </div>
</section>


    <div class="footerc">   
        <app-footer></app-footer>
    </div>

</div>
