<app-header></app-header>
<div class="body-membresia">
    <h2 style="text-align: center;">MEMBRESÍAS</h2>
    <h6 style="text-align: center;color: orange;"> Tenemos el plan adecuado para ti</h6>
    <br/>
    <br/>
    <section class="membresias-w" > 
        <!--plans-wrapper-->
        <div  class="membresias-caja">
            
            <div *ngFor="let item of plan" style="background-color:#ffff;display: flex; flex-wrap: wrap;
            " class="center">
            <div  class="membresia js-membresia membresia--inverse "  *ngIf="item.Gimnasio_idGimnasio === elID" style="padding-top: 60px; padding-bottom: 60px">
                <div class="membresia-info" bis_skin_checked="1" style="flex: 1; margin: 10px;" >
                    <p class="membresia-texto" style="font-size: 23px;">{{ item.titulo }}</p>
                    <h3 class="membresia-titulo precio" style="color: orange;">${{ item.precio }}</h3>
                    <ul class="membresia-texto" style="padding-left: 0;">
                        <li class="membresia-texto-item">Incluye {{item.duracion}} meses de membresía</li>
                        <li class="membresia-texto-item">{{ item.detalles }}</li>
                        <!-- Agrega aquí más elementos HTML si es necesario -->
                    </ul>  
                    <div class="membresia-discla"></div>
                    <a class="Button" style="color: white; font-family: Arial, Helvetica, sans-serif ;">Seleccionar Membresía</a>
                </div>
            </div>
        </div>
        </div>
        
    </section>
    <div class="footerc">
        <app-footer></app-footer>
    </div>
</div>