<div class="body">
    <!--SE AGREGA EL HEADER-->
    <div class="header_component">
        <app-header></app-header>
    </div>

    <div class="d-flex flex-row justify-content-center alig-items-center" id="ticket_user">
        <div class="alert alert-light my-4 text-center" style="min-width: 500px;">
            <div style="text-align: center;">
                <img style="width: 350px;" class="logo_f" src="../../../assets/img/login-img/logo.jpeg" alt="logo">
            </div>
            <p>Folio de compra: #123</p>

            <ul>
                <li> imagen + articulo + cantidad + precio</li>
            </ul>

            <p>Total: $499</p>
            <p>Estatus: Pagado</p>

            <div style="text-align: center;color: green; font-size: 70px;">
                <fa-icon [icon]="['fas', 'check-circle']"></fa-icon>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-center alig-items-center mb-2">
        <button mat-raised-button style="background-color: #fd9727; font-size: 16px;" (click)="imprimirPantalla()">
            <mat-icon>description</mat-icon> Imprimir
        </button>
    </div>

    <!--SE AGREGA EL FOOTER-->
    <div class="footer_component">
        <app-footer></app-footer>
    </div>
</div>