<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <img class="logo_h" src="../../../assets/img/login-img/logo.jpeg">
        <button mat-fab class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="background: #FD9727; color: white;">
            <mat-icon>menu</mat-icon>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" id="ops" >
                    <a class="nav-link" id="prueba" (click)="navegarPagina('index')" routerLinkActive="active">Inicio</a>
                </li>
                <li class="nav-item" id="ops" >
                    <a class="nav-link" id="prueba" href="https://olympus.arvispace.com/espacioCliente/" routerLinkActive="active">Tu espacio</a>
                </li>
                <li class="nav-item" id="ops" >
                    <a class="nav-link" id="prueba" (click)="navegarPagina('sucursales')" routerLinkActive="active">Sucursales</a>
                </li>
                <li class="nav-item" id="ops" >
                    <a class="nav-link" id="prueba" (click)="navegarPagina('sobre-nosotros')" routerLinkActive="active">Nosotros</a>
                </li>
                <li class="nav-item" id="ops" >
                    <a class="nav-link" id="prueba" (click)="navegarPagina('sucursales')" routerLinkActive="active">¡Registrate!</a>
                </li>
            </ul>
          </div>
    </div>
</nav>