<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <ul class="list-container">
            <li class="list-item"><mat-icon>account_circle</mat-icon><a (click)="navegarPagina('perfil-usuario')">Perfil</a></li>
            <li class="list-item"><mat-icon>settings</mat-icon><a (click)="navegarPagina('editar-perfil')">Editar Perfil</a></li>
            <li class="list-item"><mat-icon>account_balance_wallet</mat-icon><a (click)="navegarPagina('cartera')">Cartera</a></li>
            <!--<li class="list-item"><mat-icon>accessibility</mat-icon><a (click)="navegarPagina('cartera')">Acceso</a></li>-->
        </ul>
    </mat-drawer>
    <mat-drawer-content class="section-main">
        <!--<div class="toolbar_imag">
            <img class="logo_h" src="../../../assets/img/login-img/logo.jpeg">
        </div>cierra container img-->

        <div class="container_data_user">
            <div class="container_grid_padre">
                <div class="h1_container">
                    <img src="../../../assets/img/profile-img/prof1.jpg" alt="im_perfil" class="pic_profile">
                    <label class="name_user">Arturo Javier Morales Rosas Andrade Sandoval</label>
                   <!--<p class="txt_status">Status</p>-->
                    <p class="status_value">Activo</p>
                    <mat-icon style="color: green;">check_circle</mat-icon>
                </div><!--cierra h1 container-->
                <div class="h2_container">
                    <div class="container_plan">
                        <div class="plan_title">
                            <p class="planes_title">Planes adquiridos</p>
                        </div><!--cierra contenedor container plan-->
                        <div class="plan_content">
                            <p class="name_txt">Plan: 
                            <label class="date_buy">Plan Basico Plus</label></p>
                            <label class="datebuy_txt">Comprado:</label>
                            <label class="date_buy">11/09/23</label>
                            <label class="dateend_txt">Finaliza:</label>
                            <label class="date_end">11/12/23</label>
                            <hr>

                            <p class="name_txt">Plan: 
                            <label class="date_buy">Plan Online fit</label></p>
                            <label class="datebuy_txt">Comprado:</label>
                            <label class="date_buy">11/09/23</label>
                            <label class="dateend_txt">Finaliza:</label>
                            <label class="date_end">11/12/23</label>
                            <hr>

                            <p class="name_txt">Plan: 
                                <label class="date_buy">Home Basic</label></p>
                                <label class="datebuy_txt">Comprado:</label>
                                <label class="date_buy">11/10/23</label>
                                <label class="dateend_txt">Finaliza:</label>
                                <label class="date_end">11/02/24</label>
                                <hr>
                        </div>
                       
                    </div>
                    <div class="container_qr">
                        <img src="../../../assets/img/profile-img/frame.png" alt="" class="qr_image">
                    </div>
                </div><!--cierra h2 container-->
            </div><!--cierra container grid padre-->
        </div><!--cierra container date user-->
        
        <!--<div id="container-wallet">
            <h1 class="title-wallet">¡Bienvenido a tu cartera!</h1>
            <div id="add-card-section">
                <div id="content-add-card">
                    <span>Aun no tienes tarjetas en tu cartera</span>
                    <button (click)="navegarPagina('agregartarjeta')">agregar</button>
                </div>
            </div>
        </div>-->
    </mat-drawer-content>
  </mat-drawer-container>