
<!--Toolbar-->
<mat-toolbar>
    <div class="grid_tool">
        <div class="tool_logo">
            <img class="logo_h" src="../../../assets/img/login-img/logo.jpeg">
        </div>
        <div class="tool_menu">
            <button (click)="navegarPagina('home-miguel')" class="btn" mat-raised-button style="background: #FD9727; color: white;">
                <p class="txt_btn_footer">Inicio</p></button>
            <button (click)="navegarPagina('membresia-miguel')" class="btn" mat-raised-button style="background: #FD9727; color: white;">
                <p class="txt_btn_footer">Membresia</p></button>
            <button (click)="navegarPagina('pagos-miguel')" class="btn" mat-raised-button style="background: #FD9727; color: white;">
                <p class="txt_btn_footer">Pagos</p></button>
            <button (click)="navegarPagina('perfil-miguel')" class="btn" mat-raised-button style="background: #FD9727; color: white;">
                <p class="txt_btn_footer">Perfil</p></button>
        </div>
    </div>
</mat-toolbar>
