<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <ul class="list-container">
            <li class="list-item"><mat-icon>account_circle</mat-icon><a (click)="navegarPagina('cartera')">Perfil</a></li>
            <li class="list-item"><mat-icon>settings</mat-icon><a (click)="navegarPagina('cartera')">Editar Perfil</a></li>
            <li class="list-item"><mat-icon>account_balance_wallet</mat-icon><a (click)="navegarPagina('cartera')">Cartera</a></li>
            <!--<li class="list-item"><mat-icon>accessibility</mat-icon><a (click)="navegarPagina('cartera')">Acceso</a></li>-->
        </ul>
    </mat-drawer>
    <mat-drawer-content class="section-main">
        <div id="container-wallet">
            <h1 class="title-wallet">¡Bienvenido a tu cartera!</h1>
            <div id="add-card-section">
                <div id="content-add-card">
                    <span>Aun no tienes tarjetas en tu cartera</span>
                    <button (click)="navegarPagina('agregartarjeta')">agregar</button>
                </div>
            </div>
        </div>
    </mat-drawer-content>
  </mat-drawer-container>
  