/**propiedades body **/
.body {
    margin: 0;
    position: relative;
    padding-bottom: 139px;
    min-height: 100vh;
}

/**propiedades grid padre**/
.grid_padre {
    display: grid;
    grid-template-columns: 25% 75%;
    padding-top: 20px;
    padding-bottom: 70px;
}

/**propiedades contenedor filters**/
.filters {
    margin: 0px 20px;
}

/**contenedor searchbar**/
.content_searchbar {
    padding-top: 20px;
    width: 90%;
    text-align: right;
}

/**contenedor text resultados **/
.results_number {
    text-align: left;
    padding: 10px 0;
}

/**propiedades numerpo de resultados productos **/
.num_products {
    font-weight: bold;
    padding-left: 20px;
}

/**propiedades input search bar**/
.inputs_css {
    width: 40%;
}

/**propiedades checkbox**/
.item-checkbox {
    display: block;
}

/**porpiedades contenedor de filtros **/
#filters_container {
    margin: 0 auto;
    padding: 10px 0px;
    width: 80%;
    background: #F3F3F3;
    border-radius: 10px;
}

/**INICIAN PROPIEDADES DE ITEMS**/
.item_x {
    width: 200px;
    height: 340px;
    border-radius: 10px;
    /**border: #CCCCCC solid;**/
    margin: 0 10px;
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
}

/**propiedades subtitulos en filtros**/
.txt_filters {
    font-weight: bold; 
}

/**propiedades item img**/
.img_item {
    width: 200px;
    border-radius: 10px 10px 0px 0px;
}

/**propiedades texto precio **/
.price-product {
    font-weight: bold;
    font-size: large;
    display: block;
}

/**propiedades texto marca **/
.brand-product {
    font-size: small;
    color: goldenrod;
    display: block;
}

/**propeidades contenedor texto titulo **/
.content_title_item {
    height: 50px;
}

/**propiedades texto titulo item **/
.title_product {
    display: block;
}

.btn_int {
    width: 150px;
    height: 40px;
    font-size: medium;
}
