<div class="body">
    <!--SE AGREGA EL HEADER-->
    <div class="header_component">
        <app-header></app-header>
      </div>

      
<div class="container-section">
    <div class="container-filters">
        <!--INICIA PROPIEDADES DE FILTROS-->
        <div id="filters-container">
            <div id="first-section-filters" class="filters">
                <h3>Tipo de producto</h3>
                <mat-checkbox class="item-checkbox">Equipos de cardio</mat-checkbox>
                <mat-checkbox class="item-checkbox">Equipos de fuerza</mat-checkbox>
                <mat-checkbox class="item-checkbox">Accesorios</mat-checkbox>
                <mat-checkbox class="item-checkbox">Suplementos</mat-checkbox>
                <mat-checkbox class="item-checkbox">Ropa</mat-checkbox>
                <mat-checkbox class="item-checkbox">Calzado</mat-checkbox>
            </div>
            <div id="second-section-filters" class="filters">
                <h3>Marca</h3>
                <mat-checkbox class="item-checkbox">Puma</mat-checkbox>
                <mat-checkbox class="item-checkbox">Nike</mat-checkbox>
                <mat-checkbox class="item-checkbox">Adidas</mat-checkbox>
                <mat-checkbox class="item-checkbox">Whey</mat-checkbox>
            </div>
            <div id="third-section-filters" class="filters">
                <h3>Precio</h3>
                <mat-checkbox class="item-checkbox">$0 - 100</mat-checkbox>
                <mat-checkbox class="item-checkbox">$100 - 200</mat-checkbox>
                <mat-checkbox class="item-checkbox">$200 - 300</mat-checkbox>
                <mat-checkbox class="item-checkbox">$300 - 400</mat-checkbox>
                <mat-checkbox class="item-checkbox">$400 - 1000</mat-checkbox>
            </div>
            <div id="fourth-section-filters" class="filters">
                <h3>Genero</h3>
                <mat-checkbox class="item-checkbox">Hombre</mat-checkbox>
                <mat-checkbox class="item-checkbox">Mujer</mat-checkbox>
            </div>
        </div>

    </div><!--termina contenedor container-filters-->

    <div class="container-products">
        <div class="container-searchbar">
            <div id="search-bar">
                <!--SEARCHBAR-->
                <mat-form-field appearance="outline" class="inputs_css">
                    <input type="text" matInput placeholder="Ingresa lo que quieres buscar" autocomplete="off" autofocus="" >
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>

            </div>
        </div>
        <div class="results">
            <h3>Resultados: 203</h3>
        </div>
        <div class="products-list">
            <div class="product-item">
                <div class="image-product">
                    <img src="assets/images/index-img/playera.jpg" alt="" >
                </div>
                <h5 class="title-product">Playera Nike mujer talla s</h5>
                <span class="price-product">$599</span>
            </div>
            <div class="product-item">
                <div class="image-product">
                    <img src="assets/images/index-img/shaker.jpg" alt="">
                </div>
                <h5 class="title-product">Shaker Gym 700ml</h5>
                <span class="price-product">$199</span>
            </div>
            <div class="product-item">
                <div class="image-product">
                    <img src="assets/images/index-img/mancuernas.jpg" alt="">
                </div>
                <h5 class="title-product">Juego de mancuernas 2.5kg</h5>
                <span class="price-product">$499</span>
            </div>
            <div class="product-item">
                <div class="image-product">
                    <img src="assets/images/index-img/raqueta.jpg" alt="">
                </div>
                <h5 class="title-product">Raqueta para tenis</h5>
                <span class="price-product">$349</span>
            </div>
            <div class="product-item">
                <div class="image-product">
                    <img src="assets/images/index-img/balon-futbol.jpg" alt="" >
                </div>
                <h5 class="title-product">Balon futbol adidas mundial</h5>
                <span class="price-product">$3999</span>
            </div>
            <div class="product-item">
                <div class="image-product">
                    <img src="assets/images/index-img/cojin-meditar.jpg" alt="" >
                </div>
                <h5 class="title-product">Cojin para meditar</h5>
                <span class="price-product">$299</span>
            </div>
            <div class="product-item">
                <div class="image-product">
                    <img src="assets/images/index-img/cuerda-saltar.jpg" alt="" >
                </div>
                <h5 class="title-product">Cuerda para saltar</h5>
                <span class="price-product">$199</span>
            </div>
            <div class="product-item">
                <div class="image-product">
                    <img src="assets/images/index-img/googles-nado.jpg" alt="" >
                </div>
                <h5 class="title-product">Googles para nado</h5>
                <span class="price-product">$249</span>
            </div>
            <div class="product-item">
                <div class="image-product">
                    <img src="assets/images/index-img/pelotas-tenis.jpg" alt="" >
                </div>
                <h5 class="title-product">3 pelotas para tenis</h5>
                <span class="price-product">$199</span>
            </div>
            <div class="product-item">
                <div class="image-product">
                    <img src="assets/images/index-img/short-entrenamiento.jpg" alt="" >
                </div>
                <h5 class="title-product">Short adidas mujer</h5>
                <span class="price-product">$499</span>
            </div>
            <div class="product-item">
                <div class="image-product">
                    <img src="assets/images/index-img/tenis-boxeo.jpg" alt="" >
                </div>
                <h5 class="title-product">Tenis de boxeo 25cm</h5>
                <span class="price-product">$599</span>
            </div>
            <div class="product-item">
                <div class="image-product">
                    <img src="assets/images/index-img/proteway.jpg" alt="" >
                </div>
                <h5 class="title-product">Proteina Whey 950g</h5>
                <span class="price-product">$699</span>
            </div>
        </div>
        <div id="container-buttons">
            <button mat-fab>
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <button mat-fab>
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>
</div>

    <!--SE AGREGA EL FOOTER-->
    <div class="footer_component">
        <app-footer></app-footer>
      </div>
</div>