/**propiedades body **/
.body {
    margin: 0;
    position: relative;
    padding-bottom: 139px;
    min-height: 100vh;
}

/**propiedades grid padre**/
.grid_padre {
    display: grid;
    grid-template-columns: 20% 80%;
    padding-top: 70px;
    padding-bottom: 70px;
}

/**propiedades contenedor filters**/
.filters {
    margin: 10px 20px;
}

/**contenedor searchbar**/
.content_searchbar {
    padding-top: 50px;
    width: 90%;
    text-align: right;
}

/**propiedades numerpo de resultados productos **/
.num_products {
    margin-left: 10%;
}

/**propiedades input search bar**/
.inputs_css {
    width: 40%;
}

/**propiedades checkbox**/
.item-checkbox {
    display: block;
}

/**porpiedades contenedor de filtros **/
#filters_container {
    margin: 0 50px;
    padding: 20px 0px;
    width: 90%;
    background: #F3F3F3;
    border-radius: 10px;
}

/**INICIAN PROPIEDADES DE ITEMS**/
.item_x {
    width: 300px;
    height: 450px;
    border-radius: 10px;
    border: #CCCCCC solid;
    margin: 0 50px;
    display: inline-block;
    text-align: center;
}

/**propiedades subtitulos en filtros**/
.txt_filters {
    font-weight: bold; 
}

/**propiedades item img**/
.img_item {
    width: 300px;
    border-radius: 10px 10px 0px 0px;
}

/**propiedades texto precio **/
.price-product {
    font-weight: bold;
    font-size: large;
}

/**propiedades texto marca **/
.brand-product {
    font-size: small;
    color: goldenrod;
}