<div class="body">
    <!--SE AGREGA EL HEADER-->
    <div class="header_component">
        <app-header></app-header>
    </div><!--cierra div header component-->

    <!--CONTENDIO PAGINA RECUPERAR CONTRASEÑA-->
    <div class="margin_content">
        <div class="title_page">
            <h1>Recuperar contraseña</h1>
        </div><!--cierra div title page-->
        <div class="txt_input">
            <h4>Ingresa tu correo electronico</h4>
        </div><!--cierra div texto ingresa tu correo-->
        <div class="form_content">
            <form [formGroup]="form" (ngSubmit)="enviar()">
                <p>
                    <mat-form-field appearance="outline" class="input_css">
                        <mat-label>Correo</mat-label>
                        <input type="text" matInput placeholder="Correo" autocomplete="off" autofocus="" formControlName="email">
                        <mat-icon matSuffix>alternate_email</mat-icon>
                      </mat-form-field>
                </p>
                <button type="submit" class="btn_int" mat-raised-button style="background: #FD9727; color: white;" [disabled]="form.invalid">
                    <p class="text_btn">Enviar</p></button>
            </form>
        </div><!--cierra div contenedor de formulario-->
    </div><!--cierra div margin content-->

    <!--SE AGREGA EL FOOTER-->
    <div class="footer_component">
        <app-footer></app-footer>
    </div>
</div>

