/**propiedades contenedor padre**/
.body {
    margin: 0;
    position: relative;
    width: 100%;
    min-height: 100vh;
}

/**propiedades contenedor margin **/
.margin_content {
    margin: 0 auto;
    text-align: center;
    width: 500px;
}

.title_page {
    padding-top: 30px;
    padding-bottom: 60px;
}

/**propiedades contenedor tecto input**/
.txt_input {
    margin-right: 150px;
}

/**propiedades btn enviar**/
.btn_int {
    background: #FD9727;
    width: 350px;
    height: 50px;
}

/**propiedades input**/
.input_css {
    width: 350px;
}
